<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=title %></title>
  <link rel="stylesheet" href="/stylesheets/all.css">
  <link rel="icon" href="/images/favicon.ico">
</head>
<body>
  <header>
    <div class="container">
      <h1><%=title %></h1>
    </div>
  </header>

  <section class="top">
    <div>
      <div><a href=<%= top %>>Topへ戻る</a></div>
    </div>
  </section>

  <section class="output">
    <div>
      <p>一覧の表示</p>
      <table>
        <% for (let i = 0; i < content.length; i++) { %>
          <tr>
            <td><%= content[i].id %></td>
            <td><%= content[i].title %></td>
            <td><%= content[i].author %></td>
            <td><%= content[i].genre %></td>
            <td><%= content[i].height %></td>
            <td><%= content[i].publisher %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </section>

  <footer>
    <div>
      <p><%= libraryName %></p>
    </div>
  </footer>

</body>
</html>
