<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=title %></title>
  <link rel="stylesheet" href="/stylesheets/history.css">
  <link rel="icon" href="/images/favicon.ico">
</head>
<body>
  <header>
    <div class="container">
      <h1><%=title %></h1>
    </div>
  </header>

  <section class="link">
    <div>
      <div>
        <div><a href=<%= index %>>back to the top page</a></div>
      </div>
      <div>
        <div><a href=<%= books %>>all books</a></div>
      </div>
    </div>
  </section>

  <section class="output">
    <div>
      <p>histories</p>
      <table>
        <tr class="column">
          <td>history_id</td>
          <td>book_id</td>
          <td>book_title</td>
          <td>user_id</td>
          <td>user_name</td>
          <td>borrow_datetime</td>
          <td>return_datetime</td>
          <td>deadline</td>
          <td>info</td>
        </tr>
        <% for (let i = 0; i < content.length; i++) { %>
          <tr>
            <td><%= content[i].history_id %></td>
            <td><%= content[i].book_id %></td>
            <td><%= content[i].book_title %></td>
            <td><%= content[i].user_id %></td>
            <td><%= content[i].user_name %></td>
            <td><%= content[i].borrow_datetime %></td>
            <td><%= content[i].return_datetime %></td>
            <td><%= content[i].deadline %></td>
            <td><%= content[i].info %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </section>

  <footer>
    <div>
      <p><%= libraryName %></p>
    </div>
  </footer>

</body>
</html>
