<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=title %></title>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="icon" href="/images/favicon.ico">
</head>
<body>
  <header>
    <div class="container">
      <h1><%=title %></h1>
    </div>
  </header>

  <section class="search-container">
    <div>
      <form method="post" action=<%= result %>>
        <input type="search" placeholder="enter search word" name="search_name" id="search_id">
        <button onclick="location.href='<%= result %>'">search</button>
      </form>
    </div>
  </section>

  <section class="books">
    <div>
      <a href=<%= books %>>all books</a>
    </div>
  </section>

  <section class="history">
    <div>
      <a href=<%= history %>>all histories</a>
    </div>
  </section>

  <section class="welcome">
    <div>
      <p>library of 211 books</p>
    </div>
  </section>

  <footer>
    <div>
      <p><%= libraryName %></p>
    </div>
  </footer>

</body>
</html>
