<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=title %></title>
  <link rel="stylesheet" href="/stylesheets/result.css">
  <link rel="icon" href="/images/favicon.ico">
</head>
<body>
  <header>
    <div class="container">
      <h1><%=title %></h1>
    </div>
  </header>

  <section class="index">
    <div>
      <div><a href=<%= index %>>Topへ戻る</a></div>
    </div>
  </section>

  <section class="result">
    <div>
      <div>
        <p>result</p>
        <div>
          <table>
            <tr class="column">
              <td>id</td>
              <td>title</td>
              <td>author</td>
              <td>genre</td>
              <td>height</td>
              <td>publisher</td>
              <td>borrow</td>
            </tr>
            <% for (let i = 0; i < content.length; i++) { %>
              <tr>
                <td><%= content[i].id %></td>
                <td><%= content[i].title %></td>
                <td><%= content[i].author %></td>
                <td><%= content[i].genre %></td>
                <td><%= content[i].height %></td>
                <td><%= content[i].publisher %></td>
                <% if (content[i].info === "returned") { %>
                <td class="borrow"><div><button>borrow</button></div></td>
                <% } else { %>
                <td><%= content[i].info %></td>
                <% } %>
              </tr>
            <% } %>
          </table>
          <botton><%= %></botton>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div>
      <p><%= libraryName %></p>
    </div>
  </footer>

</body>
</html>
